opcua-client/.flows.json.backup
[
    {
        "id": "5ef02f5a1bae60e7",
        "type": "tab",
        "label": "Extract MachineData",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f3b7518bc9a33586",
        "type": "tab",
        "label": "Monitoring",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9fb52b3c96cd3954",
        "type": "tab",
        "label": "Job Management Demo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c366cbab7839c8d7",
        "type": "OpcUa-Endpoint2",
        "name": "",
        "endpoint": "opc.tcp://opcua-server:4840",
        "securityMode": "None",
        "securityPolicy": "None",
        "userIdentityType": "UserName",
        "pkiName": "",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "subscriptions": [
            {
                "id": "s0",
                "name": "Default Subscription",
                "isDefault": true,
                "parameters": {
                    "publishingEnabled": true,
                    "requestedLifetimeCount": "1000",
                    "requestedMaxKeepAliveCount": "10",
                    "requestedPublishingInterval": "1000",
                    "maxNotificationsPerPublish": "0",
                    "priority": "100"
                }
            },
            {
                "id": "s1",
                "name": "Slow Subscription",
                "isDefault": true,
                "parameters": {
                    "publishingEnabled": true,
                    "requestedLifetimeCount": "100",
                    "requestedMaxKeepAliveCount": "3",
                    "requestedPublishingInterval": "5000",
                    "maxNotificationsPerPublish": "100",
                    "priority": "10"
                }
            },
            {
                "id": "s2",
                "name": "Fast Subscription",
                "isDefault": true,
                "parameters": {
                    "publishingEnabled": true,
                    "requestedLifetimeCount": "4000",
                    "requestedMaxKeepAliveCount": "50",
                    "requestedPublishingInterval": "250",
                    "maxNotificationsPerPublish": "100",
                    "priority": "200"
                }
            }
        ],
        "namespaceAliases": [
            {
                "namespaceUri": "http://opcfoundation.org/UA/",
                "alias": "ua"
            },
            {
                "namespaceUri": "http://opcfoundation.org/DI/",
                "alias": "di"
            }
        ]
    },
    {
        "id": "7ca1b81425b3845b",
        "type": "inject",
        "z": "5ef02f5a1bae60e7",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "0a7b11fc342833a2"
            ]
        ]
    },
    {
        "id": "cb9f4f49e5019502",
        "type": "debug",
        "z": "5ef02f5a1bae60e7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "0a7b11fc342833a2",
        "type": "OpcUa-Client2-Explore",
        "z": "5ef02f5a1bae60e7",
        "inputs": 1,
        "output": 4,
        "name": "Explore MyMachine",
        "endpoint": "c366cbab7839c8d7",
        "nodeId": "nsu=http://mynewmachinenamespace/UA;s=MyMachine",
        "outputType": "Value",
        "excludeEmpty": false,
        "followOrganizes": true,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "cb9f4f49e5019502"
            ]
        ]
    },
    {
        "id": "51c3389f460a47f6",
        "type": "inject",
        "z": "5ef02f5a1bae60e7",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "79c36ba50d6aaa6f"
            ]
        ]
    },
    {
        "id": "79c36ba50d6aaa6f",
        "type": "OpcUa-Client2-Explore",
        "z": "5ef02f5a1bae60e7",
        "inputs": 1,
        "output": 4,
        "name": "Explore Machines Folder",
        "endpoint": "c366cbab7839c8d7",
        "nodeId": "nsu=http://opcfoundation.org/UA/Machinery/;i=1001",
        "outputType": "Value",
        "excludeEmpty": false,
        "followOrganizes": true,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "cb9f4f49e5019502"
            ]
        ]
    },
    {
        "id": "7fc1f9f16c03516b",
        "type": "inject",
        "z": "f3b7518bc9a33586",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "508c08ec54240780"
            ]
        ]
    },
    {
        "id": "ea7cb3fd13acdde9",
        "type": "debug",
        "z": "f3b7518bc9a33586",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 100,
        "wires": []
    },
    {
        "id": "508c08ec54240780",
        "type": "OpcUa-Client2-Explore",
        "z": "f3b7518bc9a33586",
        "inputs": 1,
        "output": 4,
        "name": "Explore MyMachine.Monitoring",
        "endpoint": "c366cbab7839c8d7",
        "nodeId": "nsu=http://mynewmachinenamespace/UA;s=Monitoring",
        "outputType": "BrowsePath",
        "excludeEmpty": false,
        "followOrganizes": true,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "2a174b2db697d872"
            ]
        ]
    },
    {
        "id": "2a174b2db697d872",
        "type": "OpcUa-Client2-Monitor",
        "z": "f3b7518bc9a33586",
        "inputs": 1,
        "output": 2,
        "name": "Create MonitoredItemGroup",
        "endpoint": "c366cbab7839c8d7",
        "subscription": "s1",
        "startImmediately": false,
        "nodeId": "",
        "samplingInterval": 1000,
        "discardOldest": true,
        "queueSize": 10,
        "x": 720,
        "y": 100,
        "wires": [
            [
                "ea7cb3fd13acdde9"
            ]
        ]
    },
    {
        "id": "d629e5502bdcd2ea",
        "type": "inject",
        "z": "9fb52b3c96cd3954",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "c84a72d74c6a6f1c"
            ]
        ]
    },
    {
        "id": "5ec2c38e10f5a7f1",
        "type": "debug",
        "z": "9fb52b3c96cd3954",
        "name": "ExploreResult",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "c84a72d74c6a6f1c",
        "type": "OpcUa-Client2-Explore",
        "z": "9fb52b3c96cd3954",
        "inputs": 1,
        "output": 4,
        "name": "Explore MyControledMachine",
        "endpoint": "c366cbab7839c8d7",
        "nodeId": "nsu=http://MyControledMachine-Namespace/UA;s=MyControledMachine",
        "outputType": "Value",
        "excludeEmpty": false,
        "followOrganizes": true,
        "x": 440,
        "y": 100,
        "wires": [
            [
                "5ec2c38e10f5a7f1"
            ]
        ]
    },
    {
        "id": "7c3d427c64a7da65",
        "type": "inject",
        "z": "9fb52b3c96cd3954",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "792dbb9478fcc052"
            ]
        ]
    },
    {
        "id": "792dbb9478fcc052",
        "type": "OpcUa-Client2-ExtensionObject",
        "z": "9fb52b3c96cd3954",
        "inputs": 1,
        "output": 1,
        "name": "Create JobOrderStructure",
        "endpoint": "c366cbab7839c8d7",
        "dataType": "nsu=http://opcfoundation.org/UA/ISA95-JOBCONTROL_V2/;i=3008",
        "x": 440,
        "y": 380,
        "wires": [
            [
                "a20266e71e608e78"
            ]
        ]
    },
    {
        "id": "8a3c3fbbd4bee03e",
        "type": "debug",
        "z": "9fb52b3c96cd3954",
        "name": "MethodCallResult",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 380,
        "wires": []
    },
    {
        "id": "768bc3851b4e478f",
        "type": "OpcUa-Client2-Call",
        "z": "9fb52b3c96cd3954",
        "inputs": 1,
        "output": 4,
        "name": "StoreAndStart Job",
        "endpoint": "c366cbab7839c8d7",
        "action": "read",
        "methodId": "ns=46;s=MyControledMachine-JobManager-JobOrderControl-StoreAndStart",
        "objectId": "ns=46;s=MyControledMachine-JobManager-JobOrderControl",
        "x": 970,
        "y": 380,
        "wires": [
            [
                "8a3c3fbbd4bee03e"
            ],
            [
                "8a3c3fbbd4bee03e"
            ]
        ]
    },
    {
        "id": "a20266e71e608e78",
        "type": "function",
        "z": "9fb52b3c96cd3954",
        "name": "Create new JobOrder",
        "func": "const oldMsg = msg\n\noldMsg.payload[\"Body\"][\"JobOrderID\"] = `JobOrderId_${new Date().toISOString()}`\n\nmsg = {}\nmsg.payload = {\n    \"JobOrder\": oldMsg.payload,\n    \"Comment\": \"test\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 380,
        "wires": [
            [
                "768bc3851b4e478f"
            ]
        ]
    },
    {
        "id": "d583bd467e49cd2e",
        "type": "inject",
        "z": "9fb52b3c96cd3954",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "35a7a80619b83d9e"
            ]
        ]
    },
    {
        "id": "bab55e1d275eb2fd",
        "type": "debug",
        "z": "9fb52b3c96cd3954",
        "name": "JobOrderControl",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 320,
        "wires": []
    },
    {
        "id": "649f1d1d466945b4",
        "type": "OpcUa-Client2-Monitor",
        "z": "9fb52b3c96cd3954",
        "inputs": 1,
        "output": 2,
        "name": "Create MonitoredItemGroup",
        "endpoint": "c366cbab7839c8d7",
        "subscription": "s1",
        "startImmediately": false,
        "nodeId": "",
        "samplingInterval": 1000,
        "discardOldest": true,
        "queueSize": 10,
        "x": 740,
        "y": 320,
        "wires": [
            [
                "bab55e1d275eb2fd"
            ]
        ]
    },
    {
        "id": "35a7a80619b83d9e",
        "type": "OpcUa-Client2-Explore",
        "z": "9fb52b3c96cd3954",
        "inputs": 1,
        "output": 4,
        "name": "Explore MyControledMachine",
        "endpoint": "c366cbab7839c8d7",
        "nodeId": "nsu=http://MyControledMachine-Namespace/UA;s=MyControledMachine-JobManager-JobOrderControl",
        "outputType": "NodeId",
        "excludeEmpty": false,
        "followOrganizes": true,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "649f1d1d466945b4"
            ]
        ]
    }
]