opcua-client/node_modules/@opcua/for-node-red/examples/coffe-machine.json
[
    {
        "id": "e2c467f6f712d454",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "45b050115e22c92a",
        "type": "OpcUa-Client2-Monitor",
        "z": "e2c467f6f712d454",
        "inputs": 0,
        "output": 4,
        "name": "Monitor TotalMix",
        "endpoint": "c22bb208bf9b2236",
        "subscription": "s0",
        "startImmediately": true,
        "nodeId": "/di:DeviceSet/own:CoffeeMachine.cke:Parameters.cke:TotalMix",
        "samplingInterval": 1000,
        "discardOldest": true,
        "queueSize": 10,
        "x": 500,
        "y": 120,
        "wires": [
            [
                "80ffd5b08e4b842c"
            ]
        ]
    },
    {
        "id": "ed0138fb19b768a8",
        "type": "OpcUa-Client2-Call",
        "z": "e2c467f6f712d454",
        "inputs": 1,
        "output": 4,
        "name": "FillTank() ",
        "endpoint": "c22bb208bf9b2236",
        "methodId": "/di:DeviceSet/own:CoffeeMachine.di:MethodSet.ns3:FillTank",
        "objectId": "/di:DeviceSet/own:CoffeeMachine",
        "x": 480,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d9ebb8819935670b",
        "type": "OpcUa-Client2-Call",
        "z": "e2c467f6f712d454",
        "inputs": 1,
        "output": 4,
        "name": "MakeCoffee",
        "endpoint": "c22bb208bf9b2236",
        "methodId": "/di:DeviceSet/own:CoffeeMachine.di:MethodSet.ns3:Start",
        "objectId": "/di:DeviceSet/own:CoffeeMachine",
        "x": 490,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cd2a38f3b199c836",
        "type": "inject",
        "z": "e2c467f6f712d454",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CoffeeType\":1}",
        "payloadType": "json",
        "x": 320,
        "y": 340,
        "wires": [
            [
                "d9ebb8819935670b"
            ]
        ]
    },
    {
        "id": "733e1b5f1f748772",
        "type": "inject",
        "z": "e2c467f6f712d454",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CoffeeType\": 2}",
        "payloadType": "json",
        "x": 320,
        "y": 380,
        "wires": [
            [
                "d9ebb8819935670b"
            ]
        ]
    },
    {
        "id": "182db6cfc2b7e81e",
        "type": "inject",
        "z": "e2c467f6f712d454",
        "name": "Action",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "ed0138fb19b768a8"
            ]
        ]
    },
    {
        "id": "266bbc4569282b99",
        "type": "OpcUa-Client2-Monitor",
        "z": "e2c467f6f712d454",
        "inputs": 0,
        "output": 4,
        "name": "WaterTank Level",
        "endpoint": "c22bb208bf9b2236",
        "subscription": "s2",
        "startImmediately": true,
        "nodeId": "/di:DeviceSet/own:CoffeeMachine.cke:Parameters.ns3:WaterTankLevel",
        "samplingInterval": 1000,
        "discardOldest": true,
        "queueSize": 10,
        "x": 500,
        "y": 180,
        "wires": [
            [
                "80ffd5b08e4b842c"
            ]
        ]
    },
    {
        "id": "80ffd5b08e4b842c",
        "type": "debug",
        "z": "e2c467f6f712d454",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "{\t    \"nodeId\": nodeId,\t    \"value\": payload\t}",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 160,
        "wires": []
    },
    {
        "id": "1c7206622fc789b7",
        "type": "OpcUa-Client2-Monitor",
        "z": "e2c467f6f712d454",
        "inputs": 1,
        "output": 4,
        "name": "ServerStatus.State",
        "endpoint": "c22bb208bf9b2236",
        "subscription": "s2",
        "startImmediately": false,
        "nodeId": "/Server.ServerStatus.State",
        "samplingInterval": "1001",
        "discardOldest": true,
        "queueSize": 10,
        "x": 510,
        "y": 60,
        "wires": [
            [
                "80ffd5b08e4b842c"
            ]
        ]
    },
    {
        "id": "40097102575fd1d1",
        "type": "OpcUa-Client2-Monitor",
        "z": "e2c467f6f712d454",
        "inputs": 0,
        "output": 4,
        "name": "ServerCoffeeCount",
        "endpoint": "c22bb208bf9b2236",
        "subscription": "s2",
        "startImmediately": true,
        "nodeId": "/di:DeviceSet/own:CoffeeMachine.cke:Parameters.ns3:ServedCoffeeCount",
        "samplingInterval": 1000,
        "discardOldest": true,
        "queueSize": 10,
        "x": 510,
        "y": 240,
        "wires": [
            [
                "80ffd5b08e4b842c"
            ]
        ]
    },
    {
        "id": "29829ef18eb606cf",
        "type": "inject",
        "z": "e2c467f6f712d454",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 60,
        "wires": [
            [
                "1c7206622fc789b7"
            ]
        ]
    },
    {
        "id": "c22bb208bf9b2236",
        "type": "OpcUa-Endpoint2",
        "name": "",
        "endpoint": "opc.tcp://opcuademo.sterfive.com:26543/UA/SampleServer",
        "securityMode": "None",
        "securityPolicy": "None",
        "userIdentityType": "Anonymous",
        "pkiName": "",
        "useTransport": true,
        "maxChunkCount": "1",
        "maxMessageSize": "8192",
        "receiveBufferSize": "8192",
        "sendBufferSize": "8192",
        "subscriptions": [
            {
                "id": "s0",
                "name": "Default Subscription",
                "isDefault": true,
                "parameters": {
                    "publishingEnabled": true,
                    "requestedLifetimeCount": "100",
                    "requestedMaxKeepAliveCount": "10",
                    "requestedPublishingInterval": "1000",
                    "maxNotificationsPerPublish": "0",
                    "priority": "100"
                }
            },
            {
                "id": "s1",
                "name": "Slow Subscription",
                "isDefault": true,
                "parameters": {
                    "publishingEnabled": true,
                    "requestedLifetimeCount": "100",
                    "requestedMaxKeepAliveCount": "2",
                    "requestedPublishingInterval": "5000",
                    "maxNotificationsPerPublish": "100",
                    "priority": "10"
                }
            },
            {
                "id": "s2",
                "name": "Fast Subscription",
                "isDefault": true,
                "parameters": {
                    "publishingEnabled": true,
                    "requestedLifetimeCount": "100",
                    "requestedMaxKeepAliveCount": "10",
                    "requestedPublishingInterval": "250",
                    "maxNotificationsPerPublish": "100",
                    "priority": "200"
                }
            }
        ],
        "namespaceAliases": [
            {
                "namespaceUri": "http://opcfoundation.org/UA/",
                "alias": "ua"
            },
            {
                "namespaceUri": "~urn:.*",
                "alias": "own"
            },
            {
                "namespaceUri": "http://opcfoundation.org/UA/DI/",
                "alias": "di"
            },
            {
                "namespaceUri": "http://opcfoundation.org/UA/ADI/",
                "alias": "adi"
            },
            {
                "namespaceUri": "http://opcfoundation.org/UA/AutoID/",
                "alias": "autoId"
            },
            {
                "namespaceUri": "http://opcfoundation.org/UA/MachineVision",
                "alias": "machineVision"
            },
            {
                "namespaceUri": "http://opcfoundation.org/UA/Robotics/",
                "alias": "robotics"
            },
            {
                "namespaceUri": "http://opcfoundation.org/UA/CommercialKitchenEquipment/",
                "alias": "cke"
            },
            {
                "namespaceUri": "http://opcfoundation.org/UA/ISA95-JOBCONTROL_V2/",
                "alias": "isa95JobControl"
            },
            {
                "namespaceUri": "http://opcfoundation.org/UA/Dictionary/IRDI",
                "alias": "irdi"
            },
            {
                "namespaceUri": "http://opcfoundation.org/UA/IA/",
                "alias": "ia"
            },
            {
                "namespaceUri": "http://opcfoundation.org/UA/Machinery/",
                "alias": "machinery"
            },
            {
                "namespaceUri": "http://opcfoundation.org/UA/Machinery/Jobs/",
                "alias": "machineryJobs"
            },
            {
                "namespaceUri": "http://opcfoundation.org/UA/MachineTool/",
                "alias": "machineTool"
            },
            {
                "namespaceUri": "http://opcfoundation.org/UA/PackML/",
                "alias": "packML"
            },
            {
                "namespaceUri": "urn://node-opcua-simulator",
                "alias": "ns2"
            },
            {
                "namespaceUri": "http://sterfive.com/UA/CoffeeMachine/",
                "alias": "ns3"
            }
        ]
    }
]