opcua-client/node_modules/@opcua/for-node-red/examples/read_subree_with_various_output_types.json
[
    {
        "id": "d67ea3e0450ec897",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f773b4cba7013f13",
        "type": "inject",
        "z": "d67ea3e0450ec897",
        "name": "/serverStatus",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ServerStatus\":\"/Server/ServerStatus\"}",
        "payloadType": "json",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "620d4b83c65f0c35"
            ]
        ]
    },
    {
        "id": "620d4b83c65f0c35",
        "type": "OpcUa-Client2-Read",
        "z": "d67ea3e0450ec897",
        "inputs": 1,
        "output": 4,
        "name": "Read",
        "endpoint": "c22bb208bf9b2236",
        "attributeId": "Value",
        "nodeId": "",
        "outputType": "DataValue",
        "x": 670,
        "y": 240,
        "wires": [
            [
                "941f8dfb3d27e372"
            ],
            []
        ]
    },
    {
        "id": "941f8dfb3d27e372",
        "type": "debug",
        "z": "d67ea3e0450ec897",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "6a077c9b58aea7c7",
        "type": "inject",
        "z": "d67ea3e0450ec897",
        "name": "ScanResult (Value Only)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ScanResult\":\"/1:AutoIdDemo/1:ScanResult\"}",
        "payloadType": "json",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "620d4b83c65f0c35"
            ]
        ]
    },
    {
        "id": "0d19d20c9d1a0c1a",
        "type": "inject",
        "z": "d67ea3e0450ec897",
        "name": "ScanResult (DataValue Reversible)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "outputType",
                "v": "DataValueReversible",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ScanResult\":\"/1:AutoIdDemo/1:ScanResult\"}",
        "payloadType": "json",
        "x": 360,
        "y": 360,
        "wires": [
            [
                "620d4b83c65f0c35"
            ]
        ]
    },
    {
        "id": "8fcc62a607bfb7ee",
        "type": "comment",
        "z": "d67ea3e0450ec897",
        "name": "OPCUA Read - using a structured object as Payload",
        "info": "",
        "x": 390,
        "y": 160,
        "wires": []
    },
    {
        "id": "c22bb208bf9b2236",
        "type": "OpcUa-Endpoint2",
        "name": "",
        "endpoint": "opc.tcp://opcuademo.sterfive.com:26543/UA/SampleServer",
        "securityMode": "None",
        "securityPolicy": "None",
        "userIdentityType": "Anonymous",
        "userName": "",
        "password": "",
        "userCertificate": "",
        "userPrivatekey": "",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "useTransport": false,
        "maxChunkCount": "1",
        "maxMessageSize": "8192",
        "receiveBufferSize": "8192",
        "sendBufferSize": "8192",
        "subscriptions": [
            {
                "id": "s0",
                "name": "Default Subscription",
                "isDefault": true,
                "parameters": {
                    "publishingEnabled": false,
                    "requestedLifetimeCount": "100",
                    "requestedMaxKeepAliveCount": "10",
                    "requestedPublishingInterval": "1000",
                    "maxNotificationsPerPublish": "0",
                    "priority": "100"
                }
            }
        ]
    }
]