opcua-client/node_modules/@opcua/for-node-red/examples/read_value_of_a_single_ua-variable_injected_node-id.json
[
    {
        "id": "4d757d8a13277820",
        "type": "tab",
        "label": "Read OPCUA by injecting NodeId or BrowsePath",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a64c1698e11e7262",
        "type": "OpcUa-Client2-Read",
        "z": "4d757d8a13277820",
        "inputs": 1,
        "output": 4,
        "name": "Read on CoffeeMachine",
        "endpoint": "c22bb208bf9b2236",
        "attributeId": "Value",
        "nodeId": "",
        "x": 590,
        "y": 120,
        "wires": [
            [
                "3271ebcc1984ffb7"
            ],
            []
        ]
    },
    {
        "id": "ba8852a0bdf2cfd6",
        "type": "inject",
        "z": "4d757d8a13277820",
        "name": "Inject browsePath to  WaterTankLevel ",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/2:DeviceSet/1:CoffeeMachine.2:ParameterSet.9:WaterTankLevel",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "a64c1698e11e7262"
            ]
        ]
    },
    {
        "id": "3271ebcc1984ffb7",
        "type": "debug",
        "z": "4d757d8a13277820",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "24c4b5d8c954840c",
        "type": "OpcUa-Client2-Call",
        "z": "4d757d8a13277820",
        "inputs": 1,
        "output": 4,
        "name": "FillTank",
        "endpoint": "c22bb208bf9b2236",
        "action": "read",
        "methodId": "/2:DeviceSet/1:CoffeeMachine.2:MethodSet.9:FillTank",
        "objectId": "/2:DeviceSet/1:CoffeeMachine",
        "x": 570,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8788e699e240caf9",
        "type": "inject",
        "z": "4d757d8a13277820",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "24c4b5d8c954840c"
            ]
        ]
    },
    {
        "id": "c22bb208bf9b2236",
        "type": "OpcUa-Endpoint2",
        "name": "",
        "endpoint": "opc.tcp://opcuademo.sterfive.com:26543/UA/SampleServer",
        "securityMode": "None",
        "securityPolicy": "None",
        "userIdentityType": "Anonymous",
        "userName": "",
        "password": "",
        "userCertificate": "",
        "userPrivatekey": "",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "useTransport": false,
        "maxChunkCount": "1",
        "maxMessageSize": "8192",
        "receiveBufferSize": "8192",
        "sendBufferSize": "8192",
        "subscriptions": [
            {
                "id": "s0",
                "name": "Default Subscription",
                "isDefault": true,
                "parameters": {
                    "publishingEnabled": false,
                    "requestedLifetimeCount": "100",
                    "requestedMaxKeepAliveCount": "10",
                    "requestedPublishingInterval": "1000",
                    "maxNotificationsPerPublish": "0",
                    "priority": "100"
                }
            }
        ]
    }
]