opcua-client/node_modules/@opcua/for-node-red/examples/read_value_of_a_many_ua-variables_injected_node-id.json
[
    {
        "id": "87c05731b7193904",
        "type": "tab",
        "label": "Read multiple",
        "disabled": false,
        "info": "Demonstrate how to use the OPCU Read node to inject an array of nodeid or browsePath",
        "env": []
    },
    {
        "id": "7d59b2935fbe2e05",
        "type": "OpcUa-Client2-Read",
        "z": "87c05731b7193904",
        "inputs": 1,
        "output": 4,
        "name": "Read on CoffeeMachine",
        "endpoint": "c22bb208bf9b2236",
        "attributeId": "Value",
        "nodeId": "",
        "x": 530,
        "y": 160,
        "wires": [
            [
                "c6b4a288b9753765"
            ],
            []
        ]
    },
    {
        "id": "bd1a6d70a7ff7941",
        "type": "inject",
        "z": "87c05731b7193904",
        "name": "Inject browsePaths",
        "props": [
            {
                "p": "topic",
                "v": "[\"/2:DeviceSet/1:CoffeeMachine.2:DeviceClass\",\"/2:DeviceSet/1:CoffeeMachine.2:HardwareRevision\",\"/2:DeviceSet/1:CoffeeMachine.2:Manufacturer\",\"/2:DeviceSet/1:CoffeeMachine.2:ParameterSet.9:WaterTankLevel\",\"/2:DeviceSet/1:CoffeeMachine.2:ParameterSet.9:CoffeeBeanLevel\",\"/2:DeviceSet/1:CoffeeMachine.2:ParameterSet.9:ServedCoffeeCount\"]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "7d59b2935fbe2e05"
            ]
        ]
    },
    {
        "id": "c6b4a288b9753765",
        "type": "debug",
        "z": "87c05731b7193904",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "cc675ecc876cd479",
        "type": "OpcUa-Client2-Call",
        "z": "87c05731b7193904",
        "inputs": 1,
        "output": 4,
        "name": "FillTank",
        "endpoint": "c22bb208bf9b2236",
        "action": "read",
        "methodId": "[/2:DeviceSet/1:CoffeeMachine.2:MethodSet.9:FillTank](ns=1;i=1014)",
        "objectId": "[/2:DeviceSet/1:CoffeeMachine](ns=1;i=1000)",
        "x": 470,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f50845a77eff03f1",
        "type": "inject",
        "z": "87c05731b7193904",
        "name": "Press to Fill Tank",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "cc675ecc876cd479"
            ]
        ]
    },
    {
        "id": "1bab7622b47611a3",
        "type": "inject",
        "z": "87c05731b7193904",
        "name": "Press to make a Mocha",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CoffeeType\":1}",
        "payloadType": "json",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "776a9917fe3aec61"
            ]
        ]
    },
    {
        "id": "776a9917fe3aec61",
        "type": "OpcUa-Client2-Call",
        "z": "87c05731b7193904",
        "inputs": 1,
        "output": 4,
        "name": "Make a Coffee",
        "endpoint": "c22bb208bf9b2236",
        "action": "read",
        "methodId": "[/2:DeviceSet/1:CoffeeMachine.2:MethodSet.9:Start](ns=1;i=1008)",
        "objectId": "[/2:DeviceSet/1:CoffeeMachine](ns=1;i=1000)",
        "x": 500,
        "y": 100,
        "wires": [
            [
                "c6b4a288b9753765"
            ],
            []
        ]
    },
    {
        "id": "c22bb208bf9b2236",
        "type": "OpcUa-Endpoint2",
        "name": "",
        "endpoint": "opc.tcp://opcuademo.sterfive.com:26543/UA/SampleServer",
        "securityMode": "None",
        "securityPolicy": "None",
        "userIdentityType": "Anonymous",
        "userName": "",
        "password": "",
        "userCertificate": "",
        "userPrivatekey": "",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "useTransport": false,
        "maxChunkCount": "1",
        "maxMessageSize": "8192",
        "receiveBufferSize": "8192",
        "sendBufferSize": "8192",
        "subscriptions": [
            {
                "id": "s0",
                "name": "Default Subscription",
                "isDefault": true,
                "parameters": {
                    "publishingEnabled": false,
                    "requestedLifetimeCount": "100",
                    "requestedMaxKeepAliveCount": "10",
                    "requestedPublishingInterval": "1000",
                    "maxNotificationsPerPublish": "0",
                    "priority": "100"
                }
            },
            {
                "id": "s1",
                "name": "Slow Subscription",
                "isDefault": true,
                "parameters": {
                    "publishingEnabled": false,
                    "requestedLifetimeCount": "100",
                    "requestedMaxKeepAliveCount": "2",
                    "requestedPublishingInterval": "5000",
                    "maxNotificationsPerPublish": "100",
                    "priority": "10"
                }
            },
            {
                "id": "s2",
                "name": "Fast Subscription",
                "isDefault": true,
                "parameters": {
                    "publishingEnabled": false,
                    "requestedLifetimeCount": "100",
                    "requestedMaxKeepAliveCount": "10",
                    "requestedPublishingInterval": "250",
                    "maxNotificationsPerPublish": "100",
                    "priority": "200"
                }
            }
        ]
    }
]